<section style="margin-top: 2em;">
  <ng-container *ngIf="(loading$ | async); else loader">
    <nb-tabset  style="padding: 1rem 0;">
      <nb-tab tabTitle="Nuevos" [badgeText]="newsAmount$ | async" badgeStatus="success">
        <app-product
          *ngFor="let product of newsProducts$ | async"
          [product]="product"
          [isUserLogged]="isUserLoggedIn$ | async"
          (deleteProduct)="deleteProduct($event)"
          (editProduct)="editProduct($event)">
        </app-product>
      </nb-tab>

      <nb-tab tabTitle="Recomendados">
        <app-product
          *ngFor="let product of recommendedProducts$ | async"
          [product]="product"
          [isUserLogged]="isUserLoggedIn$ | async"
          (deleteProduct)="deleteProduct($event)"
          (editProduct)="editProduct($event)">
        </app-product>
      </nb-tab>
    </nb-tabset>
  </ng-container>

  <button *ngIf="isUserLoggedIn$ | async"
    [routerLink]="['/product-form']"
    nbButton shape="round" status="primary" hero>
    <nb-icon icon="plus-outline"></nb-icon>
  </button>
</section>

<ng-template #loader>
  <nb-card [nbSpinner]="true" nbSpinnerStatus="danger">
    <p></p>
  </nb-card>
</ng-template>


