<nb-layout>

  <nb-layout-header fixed style="justify-content: flex-end; height: 50px;">
    <header>

      <button
        *ngIf="false"
        [routerLink]="['/auth/login']"
        nbButton
        outline
        size="small"
        status="basic">
        INICIAR SESSIÓN
      </button>

      <nb-user
        size="small"
        name="Jonathan Alcántara"
        title="Software Engineer"
        [nbContextMenu]="contextualItems">
      </nb-user>
    </header>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>

  </nb-layout-footer> -->

</nb-layout>
