<nb-layout>

  <nb-layout-header fixed style="justify-content: flex-end; height: 50px;">
    <header>
      <button
        *ngIf="!(isLoggedIn$ | async); else loggedUser"
        [routerLink]="['/auth/login']"
        nbButton
        outline
        size="small"
        status="basic">
        INICIAR SESSIÓN
      </button>
    </header>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>

<ng-template #loggedUser>
  <ng-container *ngIf="user$ | async as user">
    <nb-user
      size="small"
      [name]="user.name"
      title="Software Engineer"
      [picture]="user.img"
      [nbContextMenu]="contextualItems">
    </nb-user>
  </ng-container>
</ng-template>
