@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.nb-theme-cosmic nb-layout-header.fixed ~ .layout-container {
  padding-top: 1.75em;
}
.nb-theme-cosmic nb-layout-header nav {
  height: 50px;
}

.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
